@using BusinessModel.Models

@model PaginatedList<RecipesViewModel>

@{
    ViewData["Title"] = "Recipes";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<h2>Recipe Overview</h2>

<p style="text-align: center">
    <a role="button" class="btn btn-default"
       asp-action="Index" 
       asp-route-pageNumber="1"
       asp-route-pageSize="12">
        |&lt; First
    </a>
    <a role="button" class="btn btn-default @prevDisabled"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-pageSize="12">
        &lt;&lt; Previous
    </a>
    <a role="button" class="btn btn-default @nextDisabled"
       asp-action="Index"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-pageSize="12">
        Next &gt;&gt;
    </a>
    <a role="button" class="btn btn-default"
       asp-action="Index"
       asp-route-pageNumber="@(Model.TotalPages)"
       asp-route-pageSize="12">
        Last &gt;|
    </a>
</p>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="@item.Name" style="height: 225px; display: block; object-fit: cover" src="@item.ImageUrl">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a role="button" class="btn btn-sm btn-outline-secondary" asp-controller="Recipes" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">@item.PrepTimeMinutes mins + @item.CookTimeMinutes mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>
</div>